---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Button from '~/components/ui/Button.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero3 from '~/components/widgets/Hero3.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <Hero3
  tagline="Contacto"
  title={`¿Te ha interesado mi perfil?<br/><span class="text-3xl md:text-4xl font-semibold">¡Hablemos!</span>`}
  subtitle="Estoy disponible para nuevos proyectos y colaboraciones. </br>¡No dudes en contactarme!"
  actions={[
    {
      text: 'Ver GitHub',
      href: 'https://github.com/srcArq',
      target: '_blank',
      variant: 'secondary',
      icon: 'tabler:brand-github'
    },
    {
      text: 'Contactar en LinkedIn',
      href: 'https://www.linkedin.com/in/arqcl/',
      target: '_blank',
      variant: 'secondary',
      icon: 'tabler:brand-linkedin'
    }
  ]}
  classes={{ container: '!pb-8' }}  // Reduce el espacio inferior
/>
  <ContactUs
    id="form"
    title="¿Mejor por correo?"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Nombre/Empresa',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />

</Layout>
