---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import TypedText from '~/components/ui/TypedText.astro';

const metadata = {
  title: '👋 Soy Arquelia',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'CV',
        href: 'public/CV_Arquelia Conejo.pdf',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Cónoceme', href: '/homes/personal#about' },
    ]}

  >
    <Fragment slot="title">
      👋¡Hola, soy <span class="bg-gradient-to-r from-purple-400 to-purple-600 text-transparent bg-clip-text"
        >Arquelia</span
      >!
      <span class="hidden xl:inline"></span><br />
      <span class="text-lg font-medium tracking-wide">Futura desarrolladora de software junior.</span>
      <span
        class="text-lg font-medium tracking-wide bg-gradient-to-r from-purple-300 to-purple-500 text-transparent bg-clip-text"
        ><span class="italic">Step by step</span>, ¿Me ayudas?</span
      ><br />
      <!-- Sub titulo efecto mecanografiado -->
      <TypedText />

      <!--    <span class="text-lg font-medium tracking-wide">
        Enjoying <span id="typed-effect" class="text-accent tracking-wide typed-cursor blinking"></span>
      </span> -->
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="hidden xl:inline"></span><br />
        <span class="text-accent dark:text-white highlight text-sm tracking-normal">
          Busco oportunidades prácticas donde aprender y aportar, para que el lema del proyecto no sea</span
        ><br />
        <span class="text-accent dark:text-white highlight text-sm tracking-normal"
          ><em> "esto no debería pasar..."</em></span
        ><br />
        <span class="text-accent dark:text-white highlight text-sm tracking-normal">
          Y encontremos juntos soluciones creativas y eficaces.🚀</span
        ></span
      >
    </Fragment>

   
    

    
  </Hero>
</Layout>

<!-- Script para el efecto mecanografiado usando Typed.js -->
<!-- <script>
  import Typed from 'typed.js';

  const options = {
    strings: ['Frontend', 'Backend', 'Web', 'Mobile', 'Desktop', 'Fullstack', 'Learning'],
    typeSpeed: 100,
    backSpeed: 50,
    backDelay: 2000,
    loop: true,
  };

  new Typed('#typed-effect', options);
</script>
 -->
