---
import { SITE } from 'astrowind:config';
import logo from '../assets/images/pictureProfileDev.png';
import { Image } from 'astro:assets';
---

<span
  class="flex items-center space-x-10 rtl:space-x-reverse text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logo} alt={`Logo de ${SITE?.name}`} class="w-8 h-8 rounded-full object-cover" />
  {SITE?.name}
</span>
