---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import photoProfile from '~/assets/images/photoProfile.jpg';
import { Image } from 'astro:assets';

const metadata = {
  title: 'Personal information Homepage ',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Sobre m铆', href: '#about' },
        { text: 'Experiencia', href: '#experiencia' },
        { text: 'Educaci贸n', href: '#educacion' },
        { text: 'Skills', href: '#hard-skills' },
        { text: 'Soft Skills', href: '#soft-skills' },
        { text: 'Contacta', href: '/contact' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    title="驴Qu茅 hago aqu铆...?"
    image={{
      src: photoProfile,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <!-- **** ABOUT ME **** -->
    <Fragment slot="content">
      <p>
        Llegu茅 a este <span class="italic">"隆Hola mundo!"</span> por pura curiosidad, en un af谩n de ampliar mis conocimientos
        sobre el tratamiento de datos en m铆 trabajo... y me qued茅 por masoquismo, con la firme idea de cambiar de sector.
        Descubr铆 que, entre sufrir l铆neas de c贸digo y celebrar un glorioso <span class="font-bold">BUILD SUCCESS</span>,
        existe una satisfacci贸n 煤nica.
      </p>
      <br />
      <p>
        Estoy en constante crecimiento, convencida de que el caf茅 y los <span class="italic">console.log()</span> salvan
        vidas y que transformar ideas en c贸digo es como hacer magia. Intento dise帽ar soluciones elegantes, con un par de
        backups a mano por si la elegancia decide tomarse un descanso...
      </p>
      <br />
      <p>
        Busco oportunidades pr谩cticas donde aprender y aportar, para que en vez de que el lema sea <span class="italic">
          "esto no deber铆a pasar"</span
        >,<br class="mb-1" /><span class="font-bold">podamos encontrar juntos soluciones creativas y eficaces.</span> 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- **** EXPIRIENCE **** -->
  <Steps
    id="experiencia"
    title="Experiencia Laboral"
    items={[
      {
        title:
          'Coordinadora de equipo <br /> <span class="font-normal">Securitas Direct, Barcelona (Espa帽a)</span> <br /> <span class="text-sm font-normal">Agosto 2022 - Actual</span>',
        description: `Funciones de Team Lead a un nivel superior durante el turno nocturno. <br />
        Gestionando incidencias de alto riesgo y supervisando un gran volumen de trabajo. <br />
Coordinaci贸n operativa, administrativa y fomentando la mejora continua en procesos y formaci贸n, garantizando un servicio de calidad ante situaciones cr铆ticas.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Coordinadora de equipo (CRA) <br /> <span class="font-normal">Securitas Direct, Barcelona (Espa帽a)</span> <br /> <span class="text-sm font-normal">Enero 2022 - Agosto 2022</span>',
        description: `Funciones de Team Lead. <br />
      Apoyo emocional ante situaciones de estr茅s. <br />
      Fomento de sus capacidades y la promoci贸n interna dentro del departamento. <br />
      Comunicaci贸n y coordinaci贸n con las herramientas transversales y departamentos de la compa帽铆a. <br />
      An谩lisis continuo del servicio.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Especialista de seguridad/Atenci贸n al cliente <br /> <span class="font-normal">Securitas Direct, Barcelona (Espa帽a)</span> <br /> <span class="text-sm font-normal">Julio 2019 - Diciembre 2021</span>',
        description: `Recepci贸n y gesti贸n de se帽ales de emergencia. <br />
      Ejecuci贸n, funciones y diligencia en situaciones de emergencia, prevenci贸n de riesgos y actuaci贸n directa. <br />
      Comunicaci贸n con los departamentos correspondientes para la validaci贸n y el mantenimiento de la seguridad.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- **** EDUCATION **** -->
  <Steps
    id="educacion"
    title="Educaci贸n"
    items={[
      {
        title: `CFGS Dearrollo de Aplicaciones Multiplataforma <br /> <span class="font-normal">IOC, centro docente.</span> <br /> <span class="text-sm font-normal">2023 - Actualmente</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Data Mining Business <br /> <span class="font-normal">FEMAXA, Programa formativo.</span> <br /><span class="text-sm font-normal">IFCT32PO</span><br /> <span class="text-sm font-normal">2022 - 2022</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Business Intelligence <br /> <span class="font-normal">FEMAXA, Programa formativo.</span> <br /><span class="text-sm font-normal">ADG102PO</span><br /> <span class="text-sm font-normal">2022 - 2022</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachillerato Cient铆fico <br /> <span class="font-normal">Ins. Vall d'Ar煤s, centro docente.</span> <br /> <span class="text-sm font-normal">Nivel 4 EQF-MEC</span><br /><span class="text-sm font-normal">2014 - 2016</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- **** HARD SKILLS **** -->
  <Features3
    id="hard-skills"
    tagline="Features"
    title="Habilidades T茅cnicas"
    columns={2}
    items={[
      {
        title: 'Lenguajes de Programaci贸n',
        description: 'Java, Python, C#, SQL y JavaScript.',
        icon: 'tabler:code-dots',
      },
      {
        title: 'Frameworks y Tecnolog铆as',
        description: 'Spring Boot, ASP.NET Core y Hibernate.',
        icon: 'tabler:components',
      },
      {
        title: 'Bases de Datos',
        description: 'PostgreSQL, SQL Server, MySQL y SQLite.',
        icon: 'tabler:database-cog',
      },
      {
        title: 'Herramientas de Desarrollo',
        description: 'IntelliJ IDEA, Visual Studio, Visual Studio Code y NetBeans. Pero en cualquier lienzo aprendo.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Control de Versiones',
        description: 'Git y GitHub.',
        icon: 'tabler:git-merge',
      },
      {
        title: 'Pruebas y Calidad de C贸digo',
        description: ' JUnit, NUnit, Postman para APIs REST, pruebas de integraci贸n y unitarias.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Metodolog铆as',
        description: 'Desarrollo 谩gil (Scrum y Kanban), modelo en V y modelo en cascada.',
        icon: 'tabler:topology-star-3',
      },
      {
        title: 'Dise帽o y UX/UI',
        description: 'Principios de usabilidad y prototipado con Figma.',
        icon: 'tabler:components',
      },
      {
        title: 'Otros',
        description:
          'Creaci贸n de instaladores con Inno Setup, documentaci贸n con DocBook, optimizaci贸n de consultas SQL, manejo de ERD y modelado de datos.',
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <!-- **** SOFT SKILLS **** -->

  <Features3
    id="soft-skills"
    title="Soft Skills"
    subtitle="Habilidades adquiridas en mis experiencias laborales."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Gesti贸n de Equipos y Liderazgo',
        description:
          'He liderado equipos con foco en KPIs, promoviendo el bienestar emocional y el desarrollo profesional individual.',
        icon: 'tabler:brand-auth0',
      },
      {
        title: 'Planificaci贸n y An谩lisis',
        description:
          'Experiencia en generar planes de acci贸n, realizar control de datos y analizar la mejora continua de proyectos para optimizar resultados.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Colaboraci贸n Interdepartamental',
        description:
          'Trabajo mano a mano con distintos departamentos, mejorando herramientas transversales y alcanzando objetivos comunes de forma colaborativa.',
        icon: 'tabler:settings-plus',
      },
      {
        title: 'Gesti贸n y Trato con el Cliente',
        description:
          'Alta capacidad para gestionar proyectos y mantener un excelente trato con el cliente, respaldado por s贸lidas dotes de comunicaci贸n.',
        icon: 'tabler:message-user',
      },
      {
        title: 'Competencias Ofim谩ticas y Tecnol贸gicas',
        description:
          'Domino la suite ofim谩tica y tengo pasi贸n por la tecnolog铆a, complementado con cursos en data mining, business y business intelligence.',
        icon: 'tabler:device-analytics',
      },
      {
        title: 'Proactividad y Organizaci贸n',
        description:
          'Soy proactiva y organizada, siempre dispuesta a participar y ayudar, optimizando tiempo y recursos para lograr mayor efectividad.',
        icon: 'tabler:users',
      },
      {
        title: 'Creatividad y Perfeccionismo',
        description:
          'Me destaco por dise帽ar soluciones creativas y perfeccionar procesos, sin perder el toque de humor sarc谩stico que hace la vida m谩s llevadera.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Comunicaci贸n Efectiva',
        description:
          'Pensamiento Cr铆tico e Inteligencia Emocional. Capaz de transmitir ideas de forma clara y concisa, creando un ambiente colaborativo que impulsa el trabajo en equipo.',
        icon: 'tabler:messages',
      },
      {
        title: 'Resiliencia y Adaptabilidad',
        description:
          'Afronto desaf铆os con resiliencia y me adapto r谩pidamente a nuevas situaciones, aprendiendo continuamente de cada experiencia.',
        icon: 'tabler:replace',
      },
      {
        title: 'Resoluci贸n de Problemas',
        description: 'Diagn贸stico y soluci贸n de bug cr铆ticos en producci贸n usando metodolog铆a RCA',
        icon: 'tabler:puzzle',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="驴Alg煤n proyecto para m铆 perfil?"
    subtitle="Vamos a por el siguiente paso"
    actions={[
      {
        variant: 'primary',
        text: 'Cont谩ctame',
        href: '/contact',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->
</Layout>
